# ==========================

# Django

# ==========================

SECRET_KEY=your_django_secret_key
DEBUG=True

# ==========================

# Database

# ==========================

DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=5432

# ==========================

# OpenAI

# ==========================

OPENAI_API_KEY=your_openai_api_key

# ==========================

# Production

# ==========================

ALLOWED_HOSTS=127.0.0.1,localhost

CSRF_TRUSTED_ORIGINS=[http://127.0.0.1:8000,http://localhost:8000](http://127.0.0.1:8000,http://localhost:8000)
